[project]
	description = MediaWiki skin Metrolook
[access]
	inheritFrom = mediawiki/skins
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group mediawiki-skins-Metrolook
[access "refs/heads/*"]
	exclusiveGroupPermissions = label-Verified submit
	label-Verified = -1..+2 group JenkinsBot
	label-Verified = -1..+2 group l10n-bot
	label-Verified = -1..+1 group Registered Users
	submit = deny group Registered Users
	submit = group JenkinsBot
	submit = group l10n-bot
