[project]
	description = MediaWiki skin Metrolook
[access]
	inheritFrom = mediawiki/skins
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
[access "refs/*"]
	owner = group mediawiki-skins-Metrolook
	create = group Project and Group Creators
	push = +force group Project and Group Creators
