/*
 * Any rules which should not be flipped automatically in right-to-left situations should be
 * prepended with @noflip in a comment block.
 *
 * This stylesheet employs a few CSS trick to accomplish compatibility with a wide range of web
 * browsers. The most common trick is to use some styles in IE6 only. This is accomplished by using
 * a rule that makes things work in IE6, and then following it with a rule that begins with
 * "html > body" or use a child selector ">", which is ignored by IE6 because it does not support
 * the child selector. You can spot this by looking for the "OVERRIDDEN BY COMPLIANT BROWSERS" and
 * "IGNORED BY IE6" comments.
 */
 
/* Framework */
html {
	font-size: 100%;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {
	background-color: #f3f3f3;
}

body {
	height: 100%;
}
html {
	height: 100%;
}
html,
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 100%;
}
.top-tile-bar-inner-container {
	align: left;
	vertical-align: top;
}

.tile-wrapper {
	float: left;
	padding: 5px;
}

.tilebar {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	align: right;
	color: #fff;
	background: #1D1D1D;
	height: 200px;
	display: block;
	z-index: 9999999;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.tile:hover {
	outline: 3px #4A4A4A solid;
}

.onhoverbg {
	height: 40px;
	float: left;

	&:hover {
		background: #9F6F40;
	}
}

.siteLogoBar {
	float: left;
	height: 40px;
}

.topleft {
	display: inline;
	position: relative;
}

.topright .hover {
	display: none;
	position: absolute;
	left: 0;
	z-index: 2000;
	height: 200px;
}

img.editbutton {
	display: none;
}

#tilegrouptable {
	height: 130px;
	padding: 0;
	border-spacing: 0;
}

#tilegroup {
	padding: 35px;
	height: 130px;
}


/* Content */
div#content {
	margin-left: 10em;
	padding: 1.25em 1.5em 1.5em 1.5em;
	/* @embed */
	background-image: url(images/border.png);
	background-position: top left;
	background-repeat: repeat-y;
	background-color: white;
	color: black;
	direction: ltr;
	height: auto;
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
	top: 40px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

img.uploadbutton {
	position:inherit;
	background-image: url('images/uploadlogo.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/uploadlogo.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/uploadlogo.svg');
	width: 26px; /* width of your image */
	height: 35px; /* height of your image */
	margin: 0; /* If you want no margin */
	padding: 0; /* if your want to padding */
	background-repeat: no-repeat;
}

img.line {
	position: inherit;
	background-image: url('images/line.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/line.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/line.svg');
	width: 2px; /* width of your image */
	height: 35px; /* height of your image */
	margin: 0; /* If you want no margin */
	padding: 0; /* if your want to padding */
	background-repeat: no-repeat;
}

img.downarrow {
	position: inherit;
	background-image: url('images/downarrow.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/downarrow.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/downarrow.svg');
	width: 28px; /* width of your image */
	height: 40px; /* height of your image */
	margin: 0; /* If you want no margin */
	padding: 0; /* if your want to padding */
	background-repeat: no-repeat;
}

img.downarrow:hover {
	position: inherit;
	background: #9F6F40;
	background-image: url('images/downarrow.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/downarrow.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/downarrow.svg');
	width: 28px; /* width of your image */
	height: 40px; /* height of your image */
	margin: 0; /* If you want no margin */
	padding: 0; /* if your want to padding */
	background-repeat: no-repeat;
}

#hamburgerIcon {
	position: fixed;
	top: 40px;
	z-index: 0;
}

/* Hide, but keep accessible for screen-readers */
#mw-navigation h2 {
	position: absolute;
	top: -9999px;
}

#p-navigation-label{
	position: absolute;
	top: -9999px;
}

/* Head */
#mw-page-base {
	height: 2.5em;
	background-color: #CF8B54;
	background-position: bottom left;
	background-repeat: repeat-x;
	/* This image is only a fallback (for IE 6-9), so we do not @embed it. */
	background-image: url('images/page-fade.png');
	min-width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1;
}

#mw-head-base {
	margin-top: -5em;
	margin-left: 10em;
	height: 5em;
	position: fixed;
}

div#mw-head {
	position: fixed;
	top: 0px;
	min-width: 100%;
	z-index: 1;
}

div#mw-head h5 {
	margin: 0;
	padding: 0;
}

/* Hide empty portlets */
div.emptyPortlet {
	display: none;
}
/* Personal */
#p-personal {
	position: relative;
	top: 0em;
	right: 0.75em;
	/* Display on top of page tabs - bugs 37158, 48078 */
	z-index: 100;
}
#p-personal h5 {
	display: none;
}
#p-personal ul {
		list-style-type: none;
		list-style-image: none;
		margin-right: 12px;
		margin-left: 0;
		right: -12px;
		position: absolute;
}
#p-personal li {
		line-height: 20px;
		/* @noflip */
		float: left;
		width: 100%;
		margin-left: 0em;
		margin-top: 0em;
		font-size: 1em;
		white-space: nowrap;
}
#username-top {
	color: #fff;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	font-size: 9.5pt;
	padding-top: 1px;
	font-family: sans-serif;
}

#usermenu {
	float: right;
	background-image: none;
	vertical-align: middle;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: 0px;
	right: 10px;
	width: auto;
	text-align: right;
}

img.userIcon20 {
	background-image: url('images/user-icon-20.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/user-icon-20.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/user-icon-20.svg');
	width:20px; /*width of your image*/
	height:37px; /*height of your image*/
	margin:0; /* If you want no margin */
	padding:0; /*if your want to padding */
	background-repeat: no-repeat;
}

#userIcon20 {
	position:relative;
	top:2px;
	background-repeat: no-repeat;
}

#userIcon40 {
	background-image: none;
}

#echoNotifications {
	float: right;
	top: 0.3em;
	position: relative;
	margin-right: 1em;
}

#echoNotifications ul {
	list-style: none;
}

.username-space {
	margin-right: 0.4em;
}

/* Navigation Containers */
#left-navigation {
	float: initial;
	/* IE 6 double-margin bug fix */
	display: inline; 
}
#right-navigation {
	float: right;
}

/* Navigation Labels */
/*
Styling for namespace tabs (page, discussion) and views (read, edit, view history, watch and other actions)
*/

/* Navigation Labels */
div.vectorTabs h5,
div.vectorMenu h5 span {
	display: none;
}

/* Namespaces and Views */
div.vectorTabs {
	/* @noflip */
	float: left;
	height: 2.5em;
	background-image: url('images/tab-break.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-left: 1px;
}

div.vectorTabs ul {
	/* @noflip */
	float: left;
	height: 100%;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	background-image: url('images/tab-break.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}
div.vectorTabs li {
	/* @noflip */
	float: left;
	line-height: 14px;
	/* For IE6, overridden later to display:block by modern browsers */
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	background:transparent; 
	background-image: url('images/tab-normal-fade.png');
	background-position: bottom left;
	background-repeat: repeat-x;
	white-space: nowrap;
}

/* IGNORED BY IE6 which doesn't support child selector */
div.vectorTabs ul > li {
	display: block;
}

div.vectorTabs li.new a,
div.vectorTabs li.new a:visited{
	color: #a55858;
}

div.vectorTabs li.selected {
	/* @embed */
	background-image: url('images/tab-current-fade.png');
}

div.vectorTabs li.selected a,
div.vectorTabs li.selected a:visited {
	color: #fff;
	text-decoration: none;
}

div.vectorTabs li.icon a {
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.vectorTabs li a {
	/* For IE6, overridden later to display:block by modern browsers */
	display: inline-block;
	height: 2.1em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	background-image: url(images/tab-break.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	text-decoration: none;
}

/* Ignored by IE6 which doesn't support child selector */
div.vectorTabs li > a {
	display: block;
}
div.vectorTabs li a:hover { 
	background:#9F6F40;		 
}

div.vectorTabs span {
	display: inline-block;
	background-image: url('images/tab-break.png');
	background-position: bottom right;
	background-repeat: no-repeat;
}

/* For IE6, overridden later to display:block by modern browsers */
div.vectorTabs span a  {
	display: inline-block;
	padding-top: 1em;
}

/* Ignored by IE6 which doesn't support child selector */
/* @noflip */
div.vectorTabs span > a {
	float: left;
	display: block;
}

/* Variants and Actions */
div.vectorMenu {
	/* @noflip */
	direction: ltr;
	/* @noflip */
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	z-index: 10;
}

body.rtl div.vectorMenu {
	/* @noflip */
	direction: rtl;
}

div#mw-head div.vectorMenu h5 {
	/* @noflip */
	float: left;
	background-image: url('images/tab-break.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	margin-left: -1px;
}

div.vectorMenu h5 a {
	display: inline-block;
	width: 24px;
	height: 2em;
	background-color: #CF8B54; 
	background-image: url('images/arrow-down-icon.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/arrow-down-icon.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/arrow-down-icon.svg');
	background-position: 50% 50%; 
	background-repeat: no-repeat;
}

div.vectorMenu:hover h5 a {
	background-color: #9F6F40;
}
div.vectorMenu:hover {  
	background-color: #9F6F40;
	margin-top: 0px;
}

div.vectorMenu.menuForceShow h5 a{
	background-position: 100% 100%;
}

div.vectorMenuFocus h5 a{
	background-image: url('images/arrow-down-focus-icon.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/arrow-down-focus-icon.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/arrow-down-focus-icon.svg');
	background-position: 100% 60%;
}

/* OVERRIDDEN BY COMPLIANT BROWSERS */
div#mw-head div.vectorMenu h5 {
	/* @noflip */
	float: left;
	background-image: url('images/tab-break.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	margin-left: -1px;
}

/* IGNORED BY IE6 */
div#mw-head div.vectorMenu > h5 {
	background-image: none;
}

div#mw-head div.vectorMenu h4,
div.vectorMenu#p-variants #mw-vector-current-variant {
	display: inline-block;
	float: left;
	font-size: 0.8em;
	padding-left: 0.5em;
	padding-top: 1.375em;
	font-weight: normal;
	border: none;
}

div.vectorMenu div.menu {
	position: relative;
	display: none;
	clear: both;
	text-align: left;
}

/* OVERRIDDEN BY COMPLIANT BROWSERS */
body.rtl div.vectorMenu div.menu {
	/* @noflip */
	margin-left: 24px;
}

/* IGNORED BY IE6 */
body.rtl div.vectorMenu > div.menu {
	/* @noflip */
	margin-left: auto;
}

/* IGNORED BY IE6 */
/* Also fixes old versions of FireFox */
body.rtl div.vectorMenu > div.menu,
x:-moz-any-link {
	/* @noflip */
	margin-left: 23px;
}

/* Enable forcing showing of the menu for accessibility */
div.vectorMenu:hover div.menu,
div.vectorMenu.menuForceShow div.menu {
	display: block;
}

div.vectorMenu ul {
	position: absolute;
	background-color: white;
	border: solid 2px #CF8B54;
	border-top-width: 0;
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	padding-top:5px;
	margin: 0;
	margin-left: -6px;
	text-align: left;
	z-index: 1;
}

/* Fixes old versions of FireFox */
div.vectorMenu ul,
x:-moz-any-link {
	min-width: 5em;
}

/* Returns things back to normal in modern versions of FireFox */
div.vectorMenu ul,
x:-moz-any-link,
x:default {
	min-width: 0;
}

div.vectorMenu li {
	padding: 0;
	margin: 0;
	text-align: left;
	line-height: 1em;
}

/* OVERRIDDEN BY COMPLIANT BROWSERS */
div.vectorMenu li a {
	display: inline-block;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 2.5em;
	white-space: nowrap;
	color: #333;
	cursor: pointer;
	font-size: 0.8em;
	text-decoration:none; 
}

div.vectorMenu li a:hover {
  background-color: #f3f3f3; 
}

/* IGNORED BY IE6 */
div.vectorMenu li > a {
	display: block;
}

div.vectorMenu li.selected a,
div.vectorMenu li.selected a:visited {
	color: #fff;
	text-decoration: none;
}

/* Search */
#p-search h5 {
	display: none;
}
#p-search {
	/* @noflip */
	float: left;
}
#p-search {
	margin-right: 3.5em;
	margin-left: 0.5em;
}
#p-search form,
#p-search input {
	margin: 0;
	margin-top: 0.4em;
}
div#simpleSearch {
	display: block;
	width: 12.6em;
	padding-right: 1.4em;
	height: 1.4em;
	margin-top: 0.65em;
	position: relative;
	min-height: 1px; /* Gotta trigger hasLayout for IE7 */
	border: solid 1px #aaa;
	color: black;
	text-indent: -99999px;
	background-color: white;
	background-image: url('images/search-fade.png');
	background-position: top left;
	background-repeat: repeat-x;
}
div#simpleSearch input:focus {
	outline: none;
}
div#simpleSearch input {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: black;
}
div#simpleSearch input.placeholder {
	color: #999;
}
div#simpleSearch input::-webkit-input-placeholder {
	color: #999;
}
div#simpleSearch input:-moz-placeholder {
	color: #999;
}
div#simpleSearch input:-ms-input-placeholder {
	color: #999;
}
div#simpleSearch input#searchInput {
	top: 0;
	left: 0;
	width: 90%;
	padding: 0.2em 0 0.2em 0.2em;
	font-size: 13px;
	direction: ltr;
}
div#simpleSearch #searchButton,
#mw-searchButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.65em;
	height: 100%;
	cursor: pointer;
	/* Hide button text and replace it with the image. */
	text-indent: -99999px;
	/* Needed to make IE6 respect the text-indent. */
	line-height: 1;
	/* Opera 12 on RTL flips the text in a funny way without this. */
	/* @noflip */
	direction: ltr;
	white-space: nowrap;
	overflow: hidden;
	background-image: url('images/search-ltr.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/search-ltr.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/search-ltr.svg');
	background-position: center center;
	background-repeat: no-repeat;
}
div#simpleSearch #mw-searchButton {
	z-index: 1;
}

/* Custom */
/* Search */
#p-searchSearch h5 {
	display: none;
}
#p-searchSearch {
	/* @noflip */
	float: left;
}
#p-searchSearch {
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#p-searchSearch form,
#p-searchSearch input {
	margin: 0;
	margin-top: -4px;
}
div#simpleSearchSearch {
	display: block;
	width: 156px;
	height: 1.75em;
	margin-top: 0.65em;
	position: relative;
	min-height: 1px; /* Gotta trigger hasLayout for IE7 */
	border: solid 1px #aaa;
	color: black;
	background-color: white;
	background-image: url('images/search-fade.png');
	background-position: top left;
	background-repeat: repeat-x;
	margin-bottom: 10px;
}
div#simpleSearchSearch input:focus {
	outline: none;
}
div#simpleSearchSearch input {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: black;
}
div#simpleSearchSearch input.placeholder {
	color: #999;
}
div#simpleSearchSearch input::-webkit-input-placeholder {
	color: #999;
}
div#simpleSearchSearch input:-moz-placeholder {
	color: #999;
}
div#simpleSearchSearch input:-ms-input-placeholder {
	color: #999;
}
div#simpleSearchSearch input#searchInput {
	top: 0;
	left: 0;
	width: 90%;
	padding: 0.2em 0 0.2em 0.2em;
	font-size: 13px;
	direction: ltr;
}
div#simpleSearchSearch #searchButtonButton,
#mw-searchButtonButton {
	top: 0;
	right: 0;
	width: 24px;
	height: 100%;
	cursor: pointer;
	/* Hide button text and replace it with the image. */
	text-indent: 200%;
	/* Needed to make IE6 respect the text-indent. */
	line-height: 1;
	/* Opera 12 on RTL flips the text in a funny way without this. */
	/* @noflip */
	direction: ltr;
	white-space: nowrap;
	overflow: hidden;
	background-image: url('images/search-ltr.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/search-ltr.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/search-ltr.svg');
	background-position: center center;
	background-repeat: no-repeat;
}
div#simpleSearchSearch #mw-searchButtonButton {
	z-index: 1;
}

/* Panel */
div#mw-panel {
	font-size: inherit;
	position: fixed;
	top: 40px;
	bottom: 0;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding-top: 1em;
	width: 11em;
	left: 0;
	z-index: 1;
}
div#mw-panel div.portal {
	margin: 0 0.6em 0 0.7em;
	padding: 0.25em 0;
	direction: ltr;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url('images/portal-break.png');
}
div#mw-panel div.portal h5 {
	font-family: 'Segoe UI Light', Segoe UI, sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #444444;
	margin: 0;
	padding: 0.25em 0 0.25em 0.25em;
	cursor: default;
	border: none;
}
div#mw-panel div.portal div.body {
	margin: 0 0 0 1.25em;
	padding-top: 0;
}
div#mw-panel div.portal div.body ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
div#mw-panel div.portal div.body ul li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	word-wrap: break-word;
}
div#mw-panel div.portal div.body ul li a {
	color: #0645ad;
}
div#mw-panel div.portal div.body ul li a:visited {
	color: #0b0080;
}

/* Panel */
div#mw-panel-custom {
	font-size: inherit;
	position: fixed;
	top: 40px;
	bottom: 0;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding-right: 0.7em;
	padding-top: 1em;
	width: 11em;
	left: 0;
	z-index: 1;
}
div#mw-panel-custom div.portal-custom {
	margin: 0 0.6em 0 0.7em;
	padding: 0.25em 0;
	direction: ltr;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url('images/portal-break.png');
}
div#mw-panel-custom div.portal-custom h5 {
	font-family: 'Segoe UI Light', Segoe UI, sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #444444;
	padding: 0.25em;
	padding-top: 0;
	padding-left: 17px;
	padding-bottom: 0;
	margin-bottom:0;
	cursor: default;
	border: none;
}
div#mw-panel-custom div.portal-custom div.body-custom {
	margin: 0 0 0 1.25em;
	padding-top: 0;
}
div#mw-panel-custom div.portal-custom div.body-custom ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	word-wrap: break-word;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li a {
	color: #0645ad;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li a:visited {
	color: #0b0080;
}

/* Footer */
div#footer {
	margin-left: 0em;
	margin-top: 0;
	padding: 0.75em;
	direction: ltr;
}
div#footer ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
div#footer ul li {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: #333;
	font-size: 0.8em;
}

div#footer #footer-icons {
	float: right;
}

div#footer #footer-icons li {
	float: left;
	margin-left: 0.5em;
	line-height: 2em;
	text-align: right;
}

div#footer  #footer-info li {
	line-height: 1.4em;
	}

div#footer  #footer-places li {
	float: left;
	margin-right: 1em;
	line-height: 2em;
}

/* @noflip */
body.ltr div#footer #footer-places {
	float: left;
}

/* Logo */
#p-logo {
	left: 0;
	width: 10em;
	height: 160px;
	margin-bottom: 1em;
}

#p-logo a {
	display: block;
	width: 10em;
	height: 160px;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
}

#p-logo-custom {
	left: 0;
	width: 10em;
	height: 160px;
	margin-bottom: 1em;
	margin-left: 0.5em;
}

#p-logo-custom a {
	display: block;
	width: 10em;
	height: 160px;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
}

/*
 *
 * The following code is highly modified from monobook. It would be nice if the
 * preftoc id was more human readable like preferences-toc for instance,
 * howerver this would require backporting the other skins.
 */

/* Preferences */
#preftoc {
	/* Tabs */
	width: 100%;
	float: left;
	clear: both;
	margin: 0 !important;
	padding: 0 !important;
	background-image: url('images/preferences-break.png');
	background-position: bottom left;
	background-repeat: no-repeat;
}
#preftoc li {
	/* Tab */
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 1px;
	height: 2.25em;
	white-space: nowrap;
	list-style-type: none;
	list-style-image: none;
	background-image: url('images/preferences-break.png');
	background-position: bottom right;
	background-repeat: no-repeat;
}
/* Sadly, IE6 won't understand this */
#preftoc li:first-child {
	margin-left: 1px;
}
#preftoc a,
#preftoc a:active {
	display: inline-block;
	position: relative;
	color: #0645ad;
	padding: 0.5em;
	text-decoration: none;
	background-image: none;
	font-size: 0.9em;
}
#preftoc a:hover,
#preftoc a:focus {
	text-decoration: underline;
}
#preftoc li.selected a {
	background-image: url('images/preferences-fade.png');
	background-position: bottom;
	background-repeat: repeat-x;
	color: #333;
	text-decoration: none;
}
#preferences {
	float: left;
	width: 100%;
	margin: 0;
	margin-top: -2px;
	clear: both;
	border: solid 1px #ccc;
	background-color: #fafafa;
}
#preferences fieldset {
	border: none;
	border-top: solid 1px #ccc;
}
#preferences fieldset.prefsection {
	border: none;
	padding: 0;
	margin: 1em;
}
#preferences legend {
	color: #666;
}
#preferences fieldset.prefsection legend.mainLegend {
	display: none;
}
#preferences td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.htmlform-tip {
	font-size: x-small;
	padding: .2em 2em;
	color: #666;
}
#preferences div.mw-prefs-buttons {
	padding: 1em;
}
#preferences div.mw-prefs-buttons input {
	margin-right: 0.25em;
}

ul {
	list-style-type: disc;
	list-style-image: url('images/bullet-icon.png');
}

pre, .mw-code {
	line-height: 1.3em;
}

/* Site Notice (includes notices from CentralNotice extension) */
#siteNotice {
	font-size: 0.8em;
}
#firstHeading {
	padding-top: 0;
	margin-top: 0;
	font-size: 1.8em;
}

div#content a.external,
div#content a.external[href ^="gopher://"] {
	background-image: url('images/external-link-ltr-icon.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/external-link-ltr-icon.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/external-link-ltr-icon.svg');
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 13px;
}
div#content a.external[href ^="https://"],
.link-https {
	/* @embed */
	background: url(images/lock-icon.png) center right no-repeat;
	padding-right: 13px;
}
div#content a.external[href ^="mailto:"],
.link-mailto {
	/* @embed */
	background: url(images/mail-icon.png) center right no-repeat;
	padding-right: 13px;
}
div#content a.external[href ^="news:"] {
	/* @embed */
	background: url(images/news-icon.png) center right no-repeat;
	padding-right: 13px;
}
div#content a.external[href ^="ftp://"],
.link-ftp {
	/* @embed */
	background: url(images/file-icon.png) center right no-repeat;
	padding-right: 13px;
}
div#content a.external[href ^="irc://"],
div#content a.external[href ^="ircs://"],
.link-irc {
	/* @embed */
	background: url(images/talk-icon.png) center right no-repeat;
	padding-right: 13px;
}
div#content a.external[href $=".ogg"], div#content a.external[href $=".OGG"],
div#content a.external[href $=".mid"], div#content a.external[href $=".MID"],
div#content a.external[href $=".midi"], div#content a.external[href $=".MIDI"],
div#content a.external[href $=".mp3"], div#content a.external[href $=".MP3"],
div#content a.external[href $=".wav"], div#content a.external[href $=".WAV"],
div#content a.external[href $=".wma"], div#content a.external[href $=".WMA"],
.link-audio {
	/* @embed */
	background: url(images/audio-icon.png) center right no-repeat;
	padding-right: 13px;
}
div#content a.external[href $=".ogm"], div#content a.external[href $=".OGM"],
div#content a.external[href $=".avi"], div#content a.external[href $=".AVI"],
div#content a.external[href $=".mpeg"], div#content a.external[href $=".MPEG"],
div#content a.external[href $=".mpg"], div#content a.external[href $=".MPG"],
.link-video {
	/* @embed */
	background: url(images/video-icon.png) center right no-repeat;
	padding-right: 13px;
}
div#content a.external[href $=".pdf"], div#content a.external[href $=".PDF"],
div#content a.external[href *=".pdf#"], div#content a.external[href *=".PDF#"],
div#content a.external[href *=".pdf?"], div#content a.external[href *=".PDF?"],
.link-document {
	/* @embed */
	background: url(images/document-icon.png) center right no-repeat;
	padding-right: 13px;
}

.redirectText {
	font-size: 140%;
}

.redirectMsg img {
	vertical-align: text-bottom;
}

#bodyContent {
	position: relative;
	width: 100%;
	line-height: 1.6;
	font-size: 0.875em;
}

/* mediawiki.notification */
.skin-vector .mw-notification-area {
	font-size: 0.8em;
}
.skin-vector .mw-notification-area-layout {
	top: 7em;
}
.skin-vector .mw-notification {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.93);
	padding: 0.75em 1.5em;
	border: solid 1px #a7d7f9;
	border-radius: 0.75em;
	-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
}

/* Watch/Unwatch Icon Styling */
#ca-unwatch.icon a,
#ca-watch.icon a {
	margin: 0;
	padding: 0;
	display: block;
	width: 26px;
	/* This hides the text but shows the background image */
	padding-top: 3.1em;
	margin-top: 0;
	/* Only applied in IE6 */
	margin-top: -0.8em !ie;
	height: 0;
	overflow: hidden;
	background-position: 5px 60%;
	background-repeat: no-repeat;
}
#ca-unwatch.icon a {
	background-image: url('images/unwatch-icon.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/unwatch-icon.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/unwatch-icon.svg');
}
#ca-watch.icon a {
	background-image: url('images/watch-icon.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/watch-icon.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/watch-icon.svg');
}
#ca-unwatch.icon a:hover,
#ca-unwatch.icon a:focus {
	background-image: url('images/unwatch-icon-hl.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/unwatch-icon-hl.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/unwatch-icon-hl.svg');
}
#ca-watch.icon a:hover,
#ca-watch.icon a:focus {
	background-image: url('images/watch-icon-hl.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/watch-icon-hl.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/watch-icon-hl.svg');
}
#ca-unwatch.icon a.loading,
#ca-watch.icon a.loading {
	/* @embed */
	background-image: url('images/watch-icon-loading.gif');
	background-position: 5px 60%;
}
#ca-unwatch.icon a span,
#ca-watch.icon a span {
	display: none;
}

/* Tooltips are outside of the normal body code, so this helps make the size of the text sensible */
.tipsy {
	font-size: 0.8em;
}

.hoverbox {
	background: #CF8B54;
}
.hoverbox:hover {
	background: #9F6F40;
}

/* Animate between standard and high definition layouts */

body.vector-animateLayout div#content,
body.vector-animateLayout div#footer {
	-moz-transition: margin-left 250ms, padding 250ms;
	-webkit-transition: margin-left 250ms, padding 250ms;
	-o-transition: margin-left 250ms, padding 250ms;
	transition: margin-left 250ms, padding 250ms;
}
body.vector-animateLayout #p-logo,
body.vector-animateLayout #left-navigation {
	-moz-transition: left 250ms;
	-webkit-transition: left 250ms;
	-o-transition: left 250ms;
	transition: left 250ms;
}
body.vector-animateLayout #mw-panel {
	-moz-transition: padding-left 250ms;
	-webkit-transition: padding-left 250ms;
	-o-transition: padding-left 250ms;
	transition: padding-left 250ms;
}
body.vector-animateLayout #p-search {
	-moz-transition: margin-right 250ms;
	-webkit-transition: margin-right 250ms;
	-o-transition: margin-right 250ms;
	transition: margin-right 250ms;
}
body.vector-animateLayout #p-personal {
	-moz-transition: right 250ms;
	-webkit-transition: right 250ms;
	-o-transition: right 250ms;
	transition: right 250ms;
}
body.vector-animateLayout #mw-head-base {
	-moz-transition: margin-left 250ms;
	-webkit-transition: margin-left 250ms;
	-o-transition: margin-left 250ms;
	transition: margin-left 250ms;
}
