/* ipad landscape and other tablets in landscape */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

img.searchbar {
	display: none;
}

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

img.searchbar {
	display: none;
}

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (orientation:portrait) {

img.searchbar {
	display: none;
}

#echoNotifications {
	float: right;
	top: 0.3em;
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
}

div#mw-panel {
	font-size: inherit;
	position: fixed;
	top: 40px;
	bottom: 0;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding-top: 1em;
	width: 9.5em;
	left: 0;
}
div#mw-panel div.portal {
	margin: 0 0.6em 0 0.7em;
	padding: 0.25em 0;
	direction: ltr;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url('images/portal-break.png');
}
div#mw-panel div.portal h5 {
	font-family: 'Segoe UI Light', Segoe UI, sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #444444;
	margin: 0;
	padding: 0.25em 0 0.25em 0.25em;
	cursor: default;
	border: none;
}
div#mw-panel div.portal div.body {
	margin: 0 0 0 1.25em;
	padding-top: 0;
}
div#mw-panel div.portal div.body ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
div#mw-panel div.portal div.body ul li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	word-wrap: break-word;
}
div#mw-panel div.portal div.body ul li a {
	color: #0645ad;
}
div#mw-panel div.portal div.body ul li a:visited {
	color: #0b0080;
}

div#mw-panel-custom {
	font-size: inherit;
	position: fixed;
	top: 40px;
	bottom: 0;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding-right: 1em;
	padding-top: 1em;
	width: 11em;
	left: 0;
}
div#mw-panel-custom div.portal-custom {
	margin: 0 0.6em 0 0.7em;
	padding: 0.25em 0;
	direction: ltr;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url('images/portal-break.png');
}
div#mw-panel-custom div.portal-custom h5 {
	font-family: 'Segoe UI Light', Segoe UI, sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #444444;
	margin: 0;
	padding: 0.25em 0 0.25em 0.25em;
	cursor: default;
	border: none;
}
div#mw-panel-custom div.portal-custom div.body-custom {
	margin: 0 0 0 1.25em;
	padding-top: 0;
}
div#mw-panel-custom div.portal-custom div.body-custom ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	word-wrap: break-word;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li a {
	color: #0645ad;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li a:visited {
	color: #0b0080;
}

div#content {
	margin-left: 11em;
	padding: 1.25em 1.5em 1.5em 1.5em;
	/* @embed */
	background-image: url(images/border.png);
	background-position: top left;
	background-repeat: repeat-y;
	background-color: white;
	color: black;
	direction: ltr;
	height: auto;
	position: fixed;
	bottom: 0;
	right: 0em;
	left: 0;
	top: 40px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

div#mw-head {
	position: fixed;
	top: 0;
}

#mw-page-base {
	height: 2.5em;
	background-color: CF8B54;
	background-position: bottom left;
	background-repeat: repeat-x;
	/* This image is only a fallback (for IE 6-9), so we do not @embed it. */
	background-image: url('images/page-fade.png');
}

#p-search {
	/* @noflip */
	float: left;
	margin-right: 0.3em;
	margin-left: 0.3em;
}

#p-search h5 {
	display: none;
}

#p-search form,
input {
	margin: 0;
	margin-top: 0.4em;
}

#usermenu {
	right: -11px;
}

/* ipad portrait and other tablets in portrait */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

img.searchbar {
	display: none;
}

img.editbutton {	
	background-image: url('images/edit-icon.png');
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('images/edit-icon.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('images/edit-icon.svg');
	width: 36px; /* width of your image */
	height: 35px; /* height of your image */
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	float: right;
    margin-right: 0;
	height: 40px;
}

img.editbutton:hover {
	cursor: pointer;
	display: block;
	float: right;
    margin-right: 0;
	background-color: #9F6F40;
	height: 40px;
}

#echoNotifications {
	float: right;
	top: 0.3em;
	position: relative;
	margin-right: 30px;
	margin-left: 0px;
}

div#mw-panel {
	font-size: inherit;
	position: fixed;
	top: 40px;
	bottom: 0;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding-top: 1em;
	width: 10em;
	left: 0;
}
div#mw-panel div.portal {
	margin: 0 0.6em 0 0.7em;
	padding: 0.25em 0;
	direction: ltr;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url('images/portal-break.png');
}
div#mw-panel div.portal h5 {
	font-family: 'Segoe UI Light', Segoe UI, sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #444444;
	margin: 0;
	padding: 0.25em 0 0.25em 0.25em;
	cursor: default;
	border: none;
}
div#mw-panel div.portal div.body {
	margin: 0 0 0 1.25em;
	padding-top: 0;
}
div#mw-panel div.portal div.body ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
div#mw-panel div.portal div.body ul li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	word-wrap: break-word;
}
div#mw-panel div.portal div.body ul li a {
	color: #0645ad;
}
div#mw-panel div.portal div.body ul li a:visited {
	color: #0b0080;
}

div#mw-panel-custom {
	font-size: inherit;
	position: fixed;
	top: 40px;
	bottom: 0;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding-right: 1em;
	padding-top: 1em;
	width: 11em;
	left: 0;
}
div#mw-panel-custom div.portal-custom {
	margin: 0 0.6em 0 0.7em;
	padding: 0.25em 0;
	direction: ltr;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url('images/portal-break.png');
}
div#mw-panel-custom div.portal-custom h5 {
	font-family: 'Segoe UI Light', Segoe UI, sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #444444;
	margin: 0;
	padding: 0.25em 0 0.25em 0.25em;
	cursor: default;
	border: none;
}
div#mw-panel-custom div.portal-custom div.body-custom {
	margin: 0 0 0 1.25em;
	padding-top: 0;
}
div#mw-panel-custom div.portal-custom div.body-custom ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	word-wrap: break-word;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li a {
	color: #0645ad;
}
div#mw-panel-custom div.portal-custom div.body-custom ul li a:visited {
	color: #0b0080;
}

div#content {
	margin-left: 11em;
	padding: 1.25em 1.5em 1.5em 1.5em;
	/* @embed */
	background-image: url(images/border.png);
	background-position: top left;
	background-repeat: repeat-y;
	background-color: white;
	color: black;
	direction: ltr;
	height: auto;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 40px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

div#mw-head {
	position: absolute;
	top: 0;
}

div#mw-head h5 {
	margin: 0;
	padding: 0;
}

#p-search {
	/* @noflip */
	float: left;
	margin-right: 0.5em;
	margin-left: 0.5em;
	padding-right: 4em;
}

#p-search h5 {
	display: none;
}

#p-search form,
input {
	margin: 0;
	margin-top: 0.4em;
}

}
}
