/*
 * Any rules which should not be flipped automatically in right-to-left situations should be
 * prepended with @noflip in a comment block.
 *
 * This stylesheet employs a few CSS trick to accomplish compatibility with a wide range of web
 * browsers. The most common trick is to use some styles in IE6 only. This is accomplished by using
 * a rule that makes things work in IE6, and then following it with a rule that begins with
 * "html > body" or use a child selector ">", which is ignored by IE6 because it does not support
 * the child selector. You can spot this by looking for the "OVERRIDDEN BY COMPLIANT BROWSERS" and
 * "IGNORED BY IE6" comments.
 */
@import "mediawiki.mixins";

/* Framework */
html {
	font-size: @html-font-size;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: @content-font-family;
}
body {
	background-color: #f3f3f3;
	/* @embed */
	background-image: url(images/page-base.png);
}

/* Content */
div#content {
    margin-left: 10em;
    padding: 1.25em 1.5em 1.5em 1.5em;
    /* @embed */
    background-image: url(images/border.png);
    background-position: top left;
    background-repeat: repeat-y;
    background-color: white;
    color: black;
    direction: ltr;
    height:auto;
    position:absolute;
    bottom:0;
    right: 0;
    left: 0;
    top:40px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;

	.mw-editsection,
	.mw-editsection-like {
		font-family: @content-font-family;
	}

	p {
		line-height: inherit;
		margin: 0.5em 0;
	}

	h1,
	h2,
	#firstHeading {
		font-family: @content-heading-font-family;
		line-height: @heading-line-height;
		margin-bottom: 0.25em;
		padding: 0;
	}

	h1,
	#firstHeading {
		font-size: @content-heading-font-size;
	}

	h2 {
		font-size: 1.5em;
		margin-top: 1em;
	}

	h3,
	h4,
	h5,
	h6 {
		line-height: @content-line-height;
		margin-top: 0.3em;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	h3 {
		font-size: 1.17em;
	}

	h3,
	h4 {
		font-weight: bold;
	}

	h4,
	h5,
	h6 {
		font-size: 100%; /* (reset) */
	}

	#toc h2,
	.toc h2 {
		font-size: 100%; /* (reset) */
		font-family: @content-font-family;
	}
}

/* Content */
/* different screen sizes */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
div#content {
    margin-left: 11em;
    padding: 1.25em 1.5em 1.5em 1.5em;
    /* @embed */
    background-image: url(images/border.png);
    background-position: top left;
    background-repeat: repeat-y;
    background-color: white;
    color: black;
    direction: ltr;
    height:auto;
    position:absolute;
    bottom:0;
    right:-60px;
    left:0;
    top:40px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;

	.mw-editsection,
	.mw-editsection-like {
		font-family: @content-font-family;
	}

	p {
		line-height: inherit;
		margin: 0.5em 0;
	}

	h1,
	h2,
	#firstHeading {
		font-family: @content-heading-font-family;
		line-height: @heading-line-height;
		margin-bottom: 0.25em;
		padding: 0;
	}

	h1,
	#firstHeading {
		font-size: @content-heading-font-size;
	}

	h2 {
		font-size: 1.5em;
		margin-top: 1em;
	}

	h3,
	h4,
	h5,
	h6 {
		line-height: @content-line-height;
		margin-top: 0.3em;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	h3 {
		font-size: 1.17em;
	}

	h3,
	h4 {
		font-weight: bold;
	}

	h4,
	h5,
	h6 {
		font-size: 100%; /* (reset) */
	}

	#toc h2,
	.toc h2 {
		font-size: 100%; /* (reset) */
		font-family: @content-font-family;
	}
}
}

img.custom {
            position:inherit;
            .background-image-svg('images/uploadlogo.svg', 'images/uploadlogo.png');
            width:26px; /*width of your image*/
            height:35px; /*height of your image*/
            margin:0; /* If you want no margin */
            padding:0; /*if your want to padding */
            background-repeat: no-repeat;
}

img.custom2{
            position:inherit;
            .background-image-svg('images/line.svg', 'images/line.png'); 
            width:28px; /*width of your image*/
            height:35px; /*height of your image*/
            margin:0; /* If you want no margin */
            padding:0; /*if your want to padding */
            background-repeat: no-repeat;
}

img.custom3 {
            position:inherit;
            .background-image-svg('images/downarrow.svg', 'images/downarrow.png');
            margin:-26px; /* If you want no margin */
            padding:0; /*if your want to padding */
            background-repeat: no-repeat;
            background-position: -0px 20px
}
img.custom3:hover{
            position:inherit;
            background: #9F6F40;
            .background-image-svg('images/downarrow.svg', 'images/downarrow.png');
            margin:-26px; /* If you want no margin */
            padding:0; /*if your want to padding */
            background-repeat: no-repeat;
            background-position: -0px 20px;
}
img.custom4 {
            .background-image-svg('images/user-icon.svg', 'images/user-icon.png');
            width:26px; /*width of your image*/
            height:35px; /*height of your image*/
            margin:0; /* If you want no margin */
            padding:0; /*if your want to padding */
            background-repeat: no-repeat;
}

/* Hide empty portlets */
div.emptyPortlet {
		display: none;
}

ul {
	list-style-type: disc;
	.list-style-image('images/bullet-icon.png');
}

pre, .mw-code {
	line-height: 1.3em;
}

/* Site Notice (includes notices from CentralNotice extension) */
#siteNotice {
	font-size: 0.8em;
}

.redirectText {
	font-size: 140%;
}

.redirectMsg img {
	vertical-align: text-bottom;
}

#bodyContent {
	position: relative;
	width: 100%;
	line-height: @content-line-height;
	font-size: @content-font-size;
}

/* Tooltips are outside of the normal body code, so this helps make the size of the text sensible */
// FIXME: Should be part of jquery.tipsy.css
.tipsy {
	font-size: 0.8em;
}

.hoverbox {
background:#CF8B54;
}
.hoverbox:hover {
background:#9F6F40;
}

